{{#each tracks}}
    <div class='album-container' style="background-image: url({{imageUrl}});">
        <h1>{{artistName}}</h1>
        <h1 data-id=>"{{trackId}}">{{trackName}}</h1>
        <h3>{{albumName}}</h3>
    </div>
{{/each}}

